<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ban_ipaddress</name>
	<displayName><![CDATA[Ban Ip Address]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[ban IP address manually]]></description>
	<author><![CDATA[Sphinx]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
